<%= @game.p1_name %> vs. <%= @game.p2_name %>

<%= "#{@game.p1_name} HP = #{@game.p1_hp}" %>
<%= "#{@game.p2_name} HP = #{@game.p2_hp}" %>

<form  action="/attack_p1" method="get">
  <input type="submit" value="Attack_P1">
</form>

<form  action="/attack_p2" method="get">
  <input type="submit" value="Attack_P2">
</form>
